<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crane.apiplatformcommon.mapper.InterfaceInfoMapper">

    <resultMap id="BaseResultMap" type="com.crane.apiplatformcommon.model.domain.InterfaceInfo">
            <id property="iiId" column="ii_id" jdbcType="BIGINT"/>
            <result property="iiDescription" column="ii_description" jdbcType="VARCHAR"/>
            <result property="iiUrl" column="ii_url" jdbcType="VARCHAR"/>
            <result property="iiMethod" column="ii_method" jdbcType="INTEGER"/>
            <result property="iiRequestHeader" column="ii_request_header" jdbcType="VARCHAR"/>
            <result property="iiResponseHeader" column="ii_response_header" jdbcType="VARCHAR"/>
            <result property="iiRequestParams" column="ii_request_params" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        ii_id
        ,ii_description,ii_url,
        ii_method,ii_request_header,ii_response_header,  ii_request_params,
        status,is_delete,create_time
    </sql>
</mapper>
