<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crane.apiplatformbackend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.crane.apiplatformcommon.model.domain.User">
            <id property="uId" column="u_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="uPassword" column="u_password" jdbcType="VARCHAR"/>
            <result property="userStatus" column="user_status" jdbcType="INTEGER"/>
            <result property="userRole" column="user_role" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="accessKey" column="access_key" jdbcType="VARCHAR"/>
            <result property="secretKey" column="secret_key" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        u_id
        ,username,nickname,
        avatar_url,gender,u_password,
        user_status,user_role,create_time,
        is_delete,access_key,secret_key
    </sql>
</mapper>
